<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Banana</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='template/main.css'>
    <script src='template/main.js'></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&family=Kalam:wght@700&family=Lobster&family=Monoton&family=Oooh+Baby&family=Permanent+Marker&family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
</head>